body{
    background-color: beige
}
div{
    text-align: center;
    font-size: x-large;
}
img{
    display: block;
    margin: 5px auto;
    width: 25%;
}
.error-output{
    margin-left: 10px;
    font-size: 12px;
    font-style: bold;
    color: red;
}